{% block feature_settings_row %}
    <div id="menu-container"></div>

    <script>
        fetch('/s/menuitem')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text(); // get response as text
            })
            .then(html => {
                const container = document.getElementById('menu-container');
                container.innerHTML = html; // insert HTML directly
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    </script>
{% endblock %}