
    <div class="container" data-leuchtfeuer-custom-navlinks-bundle-container>
        <span data-add  class="btn btn-primary mb-8" >Add</span>

        {% for item in items %}
            <div class="input-group sortable-no-reorder mb-3 pb-3" data-index>
                {% if item is defined and item is not empty and item.name is defined and item.url is defined and item.order is defined and item.type is defined %}
                    <div class="row g-0" data-row>
                        <div class="col-md-4 pr-0 pl-0" style="display: flex; flex-direction: row; ">
                            <span data-delete class="input-group-addon preaddon" style="display: flex; justify-content: center; align-items: center; border-radius: 0;">x</span>
                            <input data-name type="text" class="form-control"  placeholder="Name" value="{{ item.name }}" style="border-radius: 0;">
                        </div>
                        <div class="col-md-4 pr-0 pl-0">
                            <input data-url type="text" class="form-control"  placeholder="URL" value="{{ item.url }}">
                        </div>
                        <div class="col-md-2 pr-0 pl-0">
                            <input data-order type="number" class="form-control"  placeholder="Sort" value="{{ item.order }}">
                        </div>
                        <div class="col-md-2 pr-0 pl-0">
                            <select data-type class="form-control form-select" >
                                <option value="blank" {% if item.type == 'blank' %}selected{% endif %}>Blank</option>
                                <option value="iFrame" {% if item.type == 'iFrame' %}selected{% endif %}>iFrame</option>
                            </select>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

    </div>





{#
{% extends '@MauticCore/Default/content.html.twig' %}

{% block headerTitle %}{% endblock %}

{% block content %}

{% endblock %}#}
